* {
  margin: 0%;
  padding: 0%;
}

body {
  font-family: Cardo;
  background-color: #EAE8E9;
}

h {
  font-family: Cardo;
}

p {
  font-family: Lato;
}

.front {
  background-color: #EAE8E9;
  width: 100%;
  height: 100vh;
}

.nav {
  width: 100%;
  position: relative;
  height: 8em;
}

.items {
  float: left;
  width: 50%;
  position: relative;
  padding-top: 3.125rem;
  padding-bottom: 27px;
  margin-left: 7rem;
}

.items ul {
  display: inline;
}

.items ul li {
  display: inline;
  font-weight: bolder;
  list-style-type: none;
  padding: 30px;
  font-size: 20px;
  color: grey;
}

.items ul li:nth-child(1) {
  color: black;
}

.contact {
  position: relative;
  float: right;
  margin-right: 8.6em;
  margin-top: 44px;

}

.contact1 {
  background-color: #EAE8E9;
  font-family: Lato;
  border: 2px solid black;
  font-size: 18px;
  font-weight: 1000;
  padding: 8px 2.8em 9px;
  border-radius: 5px;
}

.main {
  z-index: 1;
  margin-left: 11%;
  margin-right: 11%;
  padding-top: 14px;
  height: 24rem;
  position: relative;

}

.content {
  float: left;
  width: 47%;
}

.imag {
  float: right;
  width: 50%;
  height: 80%;
  background-color: azure;
  padding-bottom: 10px;
}

#first {
  width: 100%;
  height: 114%;
}

h1 {
  width: 89%;
  font-size: 77px;
  font-weight: bolder;
  line-height: 4.6rem;
}

.cont {
  width: 73%;
  padding-top: 20px;
  font-size: small;
}

.ticket {
  font-family: Lato;
  color: white;
  font-weight: bolder;
  background-color: black;
  border-radius: 5px;
  padding: 10px 40px;
  margin-top: 7%;
  border: none;
}

.ldes {
  position: absolute;
  width: 44%;
  height: 67%;
  top: 36%;
  overflow: hidden;
}

#second {
  width: 100%;
  height: 168%;
}

.rdes {
  position: absolute;
  top: 65%;
  width: 7%;
  height: 38%;
  margin-left: 93%;
  overflow: hidden;
}

#third {
  overflow: hidden;
  width: 99%;
  height: 115%;
}

.create {
  position: absolute;
  background-color: #1E1E1E;
  width: 78.5rem;
  padding-bottom: 53px;
}

.ldes1 {
  padding-top: 15px;
  width: 24rem;
  height: 19rem;
}

#fourth {
  width: 100%;
  height: 50%;
}

.center {
  position: absolute;
  top: 12%;
  width: 35%;
  height: 87%;
  margin-left: 33%;
}

.outside {
  width: 100%;
  height: 70%;
}

.rdes1 {
  position: absolute;
  width: 28%;
  top: 55%;
  height: 18%;
  margin-left: 70%;
}

#fifth {
  width: 100%;
  height: 153%;
}

h2 {
  color: white;
  width: 97%;
  font-size: 53px;
  font-weight: bolder;
  line-height: 3.3rem;
  text-align: center;
}

#text {
  text-align: center;
  color: white;
  margin-top: 32px;
}

.travel {
  font-family: Lato;
  color: white;
  font-weight: bolder;
  font-size: 15px;
  background-color: #1E1E1E;
  border-radius: 5px;
  padding: 10px 40px;
  margin-top: 10%;
  margin-left: 26%;
  border: 2px solid white;
}

.dreamain {
  margin-top: 30%;
  position: absolute;
  background-color: #EAE8E9;
  width: 78.5rem;
  height: 97%;
  padding-top: 21px;
}
.tape{
  position: absolute;
  width: 4%;
  height: 27%;
  top: 44%;
  margin-left: 27px;
}
#tap{
  width: 100%;
  height: 100%;
}
.inside {
  padding-left: 4px;
  margin-left: 10%;
  width: 82%;
  height: 79%;
  margin-top: 6%;
}

.one {
  width: 33.33%;
  height: 100%;
  float: left;
}

.two {
  float: left;
  width: 33.33%;
  height: 100%;

}

.three {
  float: right;
  width: 32.5%;
  height: 100%;
}

.gallery {
  margin: 5px;
  float: left;
  width: 96%;
}

#img {
  width: 95%;
  height: 218px;
}

h3 {
  font-size: 35px;
  font-weight: 1000;
  width: 73%;
  line-height: 2.2rem;
  padding-top: 1.5rem
}

.border {
  border-top: 4px solid black;
  height: 2px;
  width: 19%;
}

#lin {
  padding-top: 26px;
  width: 104%;
  font-size: 14px;
}

.desc {
  text-align: left;
}

.outldes {
  position: absolute;
  width: 3%;
  height: 81%;
  top: 2%;
}

#ima {
  width: 100%;
  height: 100%;
}

.outrdes {
  position: absolute;
  width: 4%;
  height: 46%;
  top: 54%;
  margin-left: 96%;
}

#iml {
  width: 100%;
  height: 100%;
}

.middle {
  position: absolute;
  width: 80%;
  height: 37rem;
  top: 117%;
  margin-top: 66%;
}

#air {
  width: 3rem;
  height: 3rem;
  margin-top: 14%;
  margin-left: 62%;
}

.see {
  padding-left: 10%;
}

h4 {
  width: 54%;
  height: 10%;
  font-size: 63px;
  margin-left: 34%;
  padding-top: 4%;
}

#trl {
  margin-top: 3%;
  font-size: 20px;
  margin-left: 30%;
  font-weight: 700
}

.dow {
  width: 34%;
  height: 21%;
  margin-left: 16%;
}

#downdes {
  width: 100%;
  height: 100%;
}

.col {
  position: absolute;
  width: 20%;
  height: 37rem;
  top: 117%;
  margin-top: 66%;
  margin-left: 80%;
  padding-top: 30px;
}

#ro {
  width: 100%;
  height: 100%;
}

.to {
  position: absolute;
  width: 100%;
  height: 38rem;
  margin-top: 125%;
  background-color: #EAE8E9;
}

#river {
  margin-left: 52px;
  width: 100%;
  height: 100%;
}

.left {
  float: left;
  width: 40%;
  margin-left: 68px;
  height: 105%;
  margin-top: 2%;
}

.up {
  width: 64%;
  height: 44%;

}

.down {
  width: 99%;
  height: 51%;
  margin-top: 8%;
}

.l {
  float: left;
  width: 41%;
  height: 98%;
}

#your {
  font-family: Cardo;
  color: black;
  width: 76%;
  height: 98%;
  font-size: 38px;
  font-weight: 500;
  text-decoration: underline;
  text-underline-offset: 10px;
}

.r {
  float: right;
  margin-top: 10px;
  width: 48%;
  height: 184%;
  margin-right: 56px;
}

#arrow {
  margin-top: 25%;
  width: 43%;
  height: 15%;
  margin-left: 44%;
}

#mount {
  width: 100%;
  height: 100%;
}

#trek {
  width: 100%;
  height: 100%;
}

.right {
  float: right;
  width: 45%;
  margin-right: 36px;
  height: 90%;
  margin-top: 2%;
}

.anywhere {
  position: absolute;
  background-color: #1E1E1E;
  width: 78.5rem;
  padding-bottom: 20px;
  margin-top: 187%;
  height: 39rem;
}

.choose {
  float: left;
  width: 37%;
  margin-left: 10%;
  height: 82%;
  margin-top: 6%;
}

.photo {
  float: right;
  width: 40%;
  margin-right: 10%;
  height: 74%;
  margin-top: 6%;
}

h5 {
  color: white;
  font-size: 50px;
  font-weight: 700;
  margin-left: 0%;
  margin-top: 2%;
  line-height: 3.2rem;
}

#shead {
  color: white;
  margin-top: 8%;
  width: 90%;
  font-size: 30px;
  font-weight: 800;
}

#write {
  color: white;
  margin-top: 3%;
  width: 90%;
  font-size: 15px;
}
.lorem{
  position: absolute;
  margin-top:53%;
  width: 100%;
  height: 98%;
  padding-top: 7%;
}
.le{
  float: left;
  height: 80%;
  width: 49%;
  margin-left: 10%;
}
.ri{
  float: right;
  height: 76%;
  width: 27%;
  margin-right: 9%;
}
.deam{
  font-size: 62px;
  line-height: 62px;
  margin-bottom: 123px;
  font-weight: 900;
}
.rect{
  padding: 17px 20px;
  border-bottom: 2px solid black;
}
.rect>p{
  font-size: 12px;
  display: inline-block;
}
.plus{
  float: right;
  width: 30px;
  height: 30px;
}
#plusicon{
  width: 100%;
  height: 100%;
}
#manmountain{
width: 100%;
height: 100%;
}
.nextpage{
  position: absolute;
  margin-top:102%;
  width: 100%;
  height: 98%;
  padding-top: 7%;
}
.linedesign{
  margin-top: 3%;
  width: 20%;
  height: 15%;
}
.nextpage>p{
  margin: auto;
  text-align: center;
  width: 413px;
  line-height: 55px;
  font-size: 51px;
  margin-bottom: 63px;
}
.customerCard{
  width: 86%;
  margin-left: 10%;
}
.customer{
  position: relative;
  padding: 8px 15px;
  width: 28%;
  border: 2px solid black;
  border-radius: 7px;
  display: inline-block;
  margin-right: 14px;
}
.leftarrow{
  position: absolute;
  border: 2px solid black;
  border-radius: 7px;
  background-color: #eeeeee;
  left: 89px;
  bottom: 18%;
  width: 5%;
  height: 49px;
  z-index: +1;
}
#leftarrow{
  width: 92%;
  height: 93%;
}
.rightarrow {
    position: absolute;
    border: 2px solid black;
    border-radius: 7px;
    background-color: #eeeeee;
    right: 50px;
    bottom: 18%;
    width: 5%;
    height: 49px;
    z-index: +1;
    transform: rotate(180deg);
}
#rightarrow{
  width: 92%;
  height: 93%;
}
.eightharrowline{
  width: 24px;
  height: 2px;
  background-color: black;

}

.eightharrowlineTop{
  width: 13px;
  height: 2px;
  background-color: black;
  margin-left: auto;
  transform: rotate(45deg) translate(-4px, -6px);
}

.eightharrowlineDown{
  width: 13px;
  height: 2px;
  background-color: black;
  margin-left: auto;
  transform: rotate(138deg) translate(-1px, -1px);
}

.customerImgDiv{
  width: 46%;
  margin: 29px auto;
}
.customerText>h1{
  margin: auto;
  font-size: 20px;
  width: fit-content;
  font-family: lato;
  margin-bottom: 10px;
}

.customerText>P{
  text-align: center;
  font-size: 11px;
  word-spacing: 5px;
  margin-bottom: 15px;
}

.eightharrowDivLast{
  position: absolute;
  border: 2px solid black;
  padding: 24px 15px;
  border-radius: 7px;
  background-color: #eeeeee;
  right: -31px;
  bottom: 41%;
  width: fit-content;
  margin: auto;
  height: 0px;
}

.eighthGraphTop{
  position: absolute;
  left: -13%;
  top: 0;
}
.curvedesign{
  width: 32.4%;
  padding-top: 22px;
  position: absolute;
  right: 0%;
}
.formpage{
  position: absolute;
  margin-top: 180%;
  margin-left: 10%;
  width: 82%;
  height: 89%;
  padding-bottom: 15%;
}

.lefttext{
  display: inline-block;
  width: 36%;
}

.lefttext>p{
  font-size: 68px;
  margin-bottom: 41px;
  line-height: 1;
  font-weight: 600;
  font-family: Cardo;
}

input{
  padding: 13px 15px;
  display: block;
  border: 2px solid black;
  border-radius: 5px;
  outline: none;
  width: 100%;
  font-size: 12px;
  background-color: transparent;
  margin-bottom: 17px;
}

textarea{
  width: 100%;
  height: 217px;
  border: none;
  outline: none;
  border: 2px solid black;
  border-radius: 5px;
  padding: 13px 15px;
  background-color: transparent;
}


input::placeholder, textarea::placeholder{
  color: black;
}

#submit{
  padding: 13px;
  width: 109%;
  border: none;
  background-color: #232323;
  color: white;
  border-radius: 3px;
  font-size: 14px;
  margin-top: 39px;
}
.imagearea{
  float: right;
  width: 55%;
}
#rivermountain{
  width: 100%;
  height: 100%;
}

.last{
  padding: 6% 10%;
  background-color: #c4c4c4;
  position: absolute;
  width: 80%;
  left: 0;
  margin-top: 242%;
}

.lastheading{
  display: inline-block;
  width: 20%;
  vertical-align: top;
}

.lastheading>p{
  font-size: 40px;
  line-height: 39px;
  font-weight: 900;
}

.lastright{
  float: right;
  width: 75%;
}

#quick{
  font-size: 14px;
  font-family: lato;
  margin-bottom: 24px;
  font-weight: 900;
}
.lastlinkblock{
  width: 100%;
}

.lastlinks{
  display: inline-block;
  width: fit-content;
  margin-right: 16%;
}

.lastlinks>p{
  font-size: 12px;
  margin-bottom: 14px;
}
.lasttext{
  font-size: 12px;
  margin-top: 54px;
  margin-left: 21%;
  color: black;
}

.lastdesign{
  width: 22%;
  position: absolute;
  left: 0;
  bottom: 20px;
}
